@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet CSS'ini buraya ekleyin */
@import 'leaflet/dist/leaflet.css';

/* İsterseniz buraya global CSS değişkenleri veya diğer özel stiller ekleyebilirsiniz */
:root {
  --background: #0f172a; /* bg-slate-900'e yakın bir değer */
  --foreground: #ffffff; /* text-white'a yakın bir değer */
}

/* body için varsayılan bir stil de belirtebiliriz */
body {
  background-color: var(--background);
  color: var(--foreground);
}